[submodule "nng"]
	path = lib/nng
	url = https://github.com/nanomsg/nng.git
[submodule "udt-arm"]
	path = lib/udt-arm
	url = https://gitlab.fel.cvut.cz/wernisim/udt-arm.git
[submodule "lib/librobotcontrol"]
	path = lib/librobotcontrol
	url = git@github.com:StrawsonDesign/librobotcontrol.git
